*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(233, 230, 226);
}
.all-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: white;
    border-radius: 12px;
    margin-top: 2em;
}
.image{
    width: 350px;
    border-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius:0 ;
}
.text{
    width: 300px;
    margin: 20px;
}
.text h4{
    color: gray;
    opacity: .7;
}
.text h2{
    font-size: 40px;
}
.text h3{
    color: grey;
    opacity: .9;
}
.cost{
    margin: 20px;
    font-size: 30px;
}
span{
    font-size: 20px;
    padding: 0 0 10px 0;
}
button{
    padding: 20px;
    font-size: 20px;
    width: 300px;
    color: white;
    background: rgb(1, 43, 1);
    border-radius: 15px;
}